body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  background-size: cover;
}

h1
{
	font-size: 3rem;
	color: #e2dbdb;
}

hr
{
	border-color: #F05F44;
	background-color: #F05F44;
	border-width: 3px;
	width: 65px;
}

.btn-primary
{
	border-color: #F05F44;
	background-color: #F05F44;
	border-radius: 300px;
}

.btn-primary:hover
{
	border-color: #EE4B08;
	background-color: #EE4B08;
	transform: scale(1.2);
}

.btn-xl
{
	padding: 1rem 2rem;
}

.buffer
{
	height: 50px;
}